.about-section {
  padding: 80px 20px;
  background: #ffffff;
}

.about-container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
  align-items: center;
}

.about-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-text {
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}

/* IMAGE BOX */
.about-image img {
  width: 100%;
  max-width: 280px;
  border-radius: 10px;
  border: 3px solid #e2e6ff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image img {
    margin: 0 auto;
  }
}
section {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 35px 25px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
  backdrop-filter: blur(10px);
}
