.contact-section {
   text-align: center;
  color: #fff;
}

.contact-title {
  font-size: 32px;
  font-weight: 700;
}

.contact-subtitle {
  color: #bbb;
  margin-bottom: 40px;
}

.contact-info p {
  margin: 5px 0;
  color: #ddd;
}

.contact-links a {
  color: #4da3ff;
  text-decoration: none;
}

.contact-links a:hover {
  text-decoration: underline;
}

.contact-form {
  max-width: 500px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  color: #fff;
  padding: 12px;
  border-radius: 5px;
}

.contact-form button {
  padding: 12px;
  background: #006eff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #0056cc;
}
