.footer {
  background: transparent;
    text-align: center;
  margin-top: 50px;
}

.footer p {
  margin: 0;
  font-size: 15px;
  color: #dbd9d9;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  margin: 0 12px;
  color: #006eff;
  text-decoration: none;
  font-size: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}
