.projects-section {
   background: transparent;
  text-align: center;
}

.projects-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #f5f5f5;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.project-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 0 5px 14px rgba(0,0,0,0.25);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

.project-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #eaeaea;
}

.project-description {
  color: #c7c7c7;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.4;
}

/* TECH TAGS */
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.project-tech span {
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  color: #ddd;
  font-weight: 500;
}

/* BUTTON */
.project-btn {
  display: inline-block;
  padding: 10px 18px;
  background: #4da3ff;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.project-btn:hover {
  background: #1e8bff;
}
